html {
  height:100%
}
body {
  background: url('index_background_image_galaxy.jpg');
  background-position: center;
  background-size: cover;
  font-family: "Raleway", sans-serif
  color:white;
}

.container{


  display:grid;
  min-height: 100%;
  min-width: 100%;
  color:white;


}

.w3-display-bottomleft{position:absolute;left:20px;bottom:10px}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
